@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,italic,700,700italic);

:root {
  --vp-c-brand-1: #862533;
  --vp-c-brand-2: #862533;
  --vp-c-brand-light: #ff5719;
  --vp-c-brand-lighter: #ff7340;
  --vp-c-brand-lighter: rgba(255, 135, 23, 0.25);
  --vp-c-brand-dark: #ff622d;
  --vp-c-brand-darker: #e23c00;
  --brand-new: #ff9100;
  --vp-c-sponsor: #737373;

  /* --vp-font-family-base: "Space Grotesk", "Inter var experimental", "Inter var",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */

  /* --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

.checkbox-container {
  list-style: none; /* Remove default list-style */
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  margin-right: 5px;
  cursor: pointer;
}

.checkbox.checked {
  background-color: #ffffff;
}
